<div class="header">
    <h1 class="header--headline">
        CBS<br>
        CAREER<br>
        FAIR<br>
        <span class="header--headline__year">2016</span>
    </h1>
</div>
<div class="back">
    <span class="back--button" [routerLink]="['/companies']">Go back</span>
</div>
<div class="headline">
    {{company?.name.replace('*','')}}
</div>
<div class="info">
    <div class="info--day">Day: <strong>Oct {{currentDay}}</strong></div>
    <div class="info--presentation" *ngIf="company?.presentation">
        Presentation: 
        <strong>{{company?.presentation}}</strong>
        <span *ngIf="company?.name.indexOf('*') > -1">(this presentation will be held in Danish)</span>
    </div>
    <div class="info--details">Hall: <strong>{{company?.hall}}</strong> Stall: <strong>{{company?.stall}}</strong></div>
</div>
<div class="description">
    <div *ngIf="getCompanyPositions(company).length > 0">
        <span>Positions</span>
        {{getCompanyPositions(company)}}
    </div>
    <div *ngIf="getCompanyProfiles(company).length > 0">
        <span>Profiles</span>
        {{getCompanyProfiles(company)}}
    </div>
</div>
<div class="map" [scrollLeft]="mapPosition">
    <div class="map--pan">
        <company-map [map]="company?.stall"></company-map>
    </div>
</div>