:host {
    display: block;
    padding-top: 1.5rem;
    min-height: 100%;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
}

.header {
    margin: 0 1.5rem 0 1.5rem;
    padding: 1em;
    border: 4px solid #f37160;
    color: #f37160;

    &--headline {
        margin: 0;
        padding: 0;
        font-size: 2.5em;
        text-transform: uppercase;
        color: #f37160;
        position: relative;

        &__year {
            font-size: 0.6em;
            color: #414042;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

.back {
    margin: 1.5rem;

    &--button {
        position: relative;
        padding-left: 1.4em;
        font-size: 1.3em;
        text-transform: uppercase;
        cursor: pointer;

        &:before {
            content: "";
            position: absolute;
            left: -0.5em;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 1.8em;
            height: 1.8em;
            display: block;
            background-image: url("/assets/images/arrow_left.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

.headline {
    margin: 2rem 1.5rem 0;
    font-size: 1.5em;
    text-transform: uppercase;
    color: rgb(146, 146, 146);
}

.description {
    margin: 1rem 1.5rem 0;
    font-size: 1.1em;

    &--headers {
        display: block;
        margin-bottom: 0.4em;
        margin-top: 1em;
        text-decoration: underline;
    }

    &--header {
        display: block;
        font-size: 1.3em;
        margin: 0;
    }
}

.filter {
    margin: 1.5rem;
    overflow: hidden;

    &--text {
        margin-bottom: 0.6em;
        font-size: 1.3em;
        display: block;
    }

    &--button {
        background-color: rgb(243, 113, 96);
        padding: 0.7em 0.5em;
        color: rgb(255, 255, 255);
        margin-right: 0.5em;
        float: left;
        font-size: 1.1em;
        font-weight: bold;
        cursor: pointer;

        &.choosed {
            background-color: rgb(168, 168, 169);
        }
    }
}

.list {
    list-style: none;
    margin: 1rem 0 0 0;
    padding: 0;
    font-size: 1.3em;

    &--item {
        cursor: pointer;
        position: relative;
        overflow: hidden;

        &.cutter {
            background-color: rgb(208, 208, 208) !important;
            font-weight: bold;
            margin-top: 10px;

            .list--item__name {
                padding: 0.5em 1.5rem;
            }
        }

        &:first-child {
            background-color: #f37160;
            color: #fff;
            cursor: default;
        }

        &:nth-child(even) {
            background-color: rgba(243, 113, 96, 0.5);
        }

        &__name {
            float: left;
            width: 70%;
            padding: 1rem 1.5rem;
            box-sizing: border-box;

            &__presentation {
                color: rgb(113, 113, 113);
                display: block;
                font-size: 0.9em;
                margin-top: 0.4em;
            }
        }

        &__hall {
            float: left;
            width: 15%;
            padding: 1rem 0;
            box-sizing: border-box;
            text-align: center;
        }
        
        &__stall {
            float: left;
            width: 15%;
            padding: 1rem 0;
            box-sizing: border-box;
            text-align: center;
        }
    }
}

.asterix {
    margin-top: 0;
    font-size: 1em;
    font-style: italic;
    padding: 1.5rem;
    border-top: 1px solid rgb(236, 236, 236);
}