<div class="header">
    <h1 class="header--headline">
        CBS<br>
        CAREER<br>
        FAIR<br>
        <span class="header--headline__year">2016</span>
    </h1>
</div>
<div class="back">
    <span class="back--button" [routerLink]="['/positions']">Change filter</span>
</div>
<div class="headline">
    Company list
</div>
<div class="description">
    You chose: {{ getSelections() }}
</div>
<div class="filter">
    <div class="filter--text">Choose day:</div>
    <div class="filter--button" [class.choosed]="(filter$ | async) == 0" (click)="filter$.next(0)">All companies</div>
    <div class="filter--button" [class.choosed]="(filter$ | async) == 1" (click)="filter$.next(1)">Oct. 5</div>
    <div class="filter--button" [class.choosed]="(filter$ | async) == 2" (click)="filter$.next(2)">Oct. 6</div>
</div>
<ul class="list">
    <li class="list--item">
        <div class="list--item__name">Companies</div>
        <div class="list--item__hall">Hall</div>
        <div class="list--item__stall">Stall</div>
    </li>
    <li class="list--item" *ngFor="let company of companies" [routerLink]="['/company', company.name]">
        <div class="list--item__name">
            {{company.name}}
            <span class="list--item__name__presentation" *ngIf="company.presentation">Presentation: {{company.presentation}}</span>
        </div>
        <div class="list--item__hall">{{company.hall}}</div>
        <div class="list--item__stall">{{company.stall}}</div>
    </li>
</ul>