@import "../../../mixins/flex";
@import "../../../mixins/breakpoint";

:host {
    @extend %flexbox;
    @include flex-direction(column);

    &.hide {
        display: none;
    }
}

span {
    position: relative;
    margin: 2rem 3rem 1rem;
    display: block;
    font-size: 1.8em;
    cursor: pointer;

    i {
        line-height: 1em;
        width: 1em;
        display: inline-block;
        left: 0;
        top: 0;
        transition: transform 0.2s ease-in-out;

        svg polygon {
            transition: fill 0.2s ease-in-out;
        }
    }

    &:hover {

        i {
            transform: translateX(-6px);
        
            svg polygon {
                fill: #d87a2a;
            }
        }
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.8em;

    li {
        padding: 1.5rem 3rem;
        border-bottom: 1px solid rgb(220, 220, 220);
        cursor: pointer;
        transition: color 0.05s ease-in; //background-color 0.3s ease-in;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            color: #d87a2a;
           //background-color: rgb(247, 247, 247);
        }
    }
}