@import "../mixins/flex";
@import "../mixins/breakpoint";

@font-face {
    font-family: "cbs-sans-regular";
    src: url(/assets/fonts/cbs_new_regular-webfont.eot);
    src: url(/assets/fonts/cbs_new_regular-webfont.eot?#iefix) format('eot'),url(/assets/fonts/cbs_new_regular-webfont.woff) format('woff'),url(/assets/fonts/cbs_new_regular-webfont.ttf) format('truetype'),url(/assets/fonts/cbs_new_regular-webfont.svg#CBSNEWRegular) format('svg')
}

@font-face {
    font-family: "cbs-sans-bold";
    src: url(/assets/fonts/cbs_new_bold-webfont.eot);
    src: url(/assets/fonts/cbs_new_bold-webfont.eot?#iefix) format('eot'),url(/assets/fonts/cbs_new_bold-webfont.woff) format('woff'),url(/assets/fonts/cbs_new_bold-webfont.ttf) format('truetype'),url(/assets/fonts/cbs_new_bold-webfont.svg#CBSNEWBold) format('svg');
    font-weight: bold;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'cbs-sans-regular', Arial, Helvetica, sans-serif;
    min-width: 320px;
    background-color: #fff;
    color: #414042;
}

p, input, select, button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'cbs-sans-regular', Arial, Helvetica, sans-serif;
}

.cbs-root {
}

#layout {
    width: 100%;

    &.front {
        height: 100%;
    }
    
    @include breakpoint(large) {
        height: 100%;
    }
    
    .brand-box {
        display: none;

        @include breakpoint(large) {
        
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 50%;
            height: 100%;
        }
    }
    
    .content-box {
        
        height: 100%;
        position: relative; 
        background-color: #ffffff;
        
        @include breakpoint(large) {

            display: block;
            position: absolute;
            width: 50%;

            overflow-y: scroll;
            overflow-x: hidden;

            top: 0;
            left: auto;
            right: 0;
        }
    }
} 