@import "../../../mixins/flex";
@import "../../../mixins/breakpoint";

:host {
    @extend %flexbox;
    @include flex(1);
    @include flex-direction(column);

    max-width: 30em;
}

.cbs-action {

    font-size: 1.3em;
    padding: 1em;
    margin-bottom: 2em;
    border-bottom: 1px solid #efefef;
    box-shadow: 0px 3px 4px -3px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    span {
        display: block;
        position: relative;
    }

    i {
        line-height: 1em;
        position: absolute;
        width: 1em;
        display: inline-block;
        vertical-align: middle;
        right: 0;
        transition: transform 0.2s ease-in-out;

        svg {
            width: 1em;
            
            polygon {
                transition: fill 0.2s ease-in-out;
            }
        }
    }
    
    &:hover {

        i {
            transform: translateX(6px);

            svg polygon {
                fill: #d87a2a;
            }
        }
    }

    .cb-action__text {
        display: none;
        padding-right: 1em;

        svg path {
            fill: #789e3e;
        }
    }

    &.active {

        .cb-action__choice {
            display: none;
        }

        .cb-action__text {
            display: block;
        }
    }
}