<div class="cbs-action">
    <span class="cb-action__choice">
        Choose your position
        <i>
            <svg viewBox="0 0 199.405 199.405">
            <g>
                <polygon points="99.703,199.405 199.405,99.702 99.703,0 71.418,28.285 124.662,81.529 0,81.529 0,117.876 124.662,117.876 71.418,171.12"/>
            </g>
            </svg>
        </i>
    </span>
    <span class="cb-action__text">{{position}}</span>
</div>
<div class="cbs-action">
    <span class="cb-action__choice">Choose your profile</span>
    <span class="cb-action__text">{{profile}}</span>
</div>