<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CBS Career Fair 2016</title>
  <meta property="og:url" content="https://careerfair.dk" />
  <meta property="og:title" content="CBS Career Fair 2016" />
  <meta property="og:description" content="This fall’s Career Fair takes place 5-6 October and will for the first time be a two-day event. Whether you are looking for internships, student jobs, full-time jobs or graduate positions, more than 65 companies are ready to inspire you. " />
  <meta property="og:image" content="https://careerfair.dk/assets/images/background1.jpg" />
  <base href="/">
</head>
<body>
    <cbs-app></cbs-app>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-82413339-1', 'auto');
        ga('send', 'pageview');
    </script>
    <% if (webpackConfig.metadata.isDevServer) { %>
    <script src="/webpack-dev-server.js"></script>
    <% } %>
</body>
</html>