:host {
    display: block;
    padding-top: 1.5rem;
    min-height: 100%;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    padding-bottom: 6.8rem;
}

.header {
    margin: 0 1.5rem 0 1.5rem;
    padding: 1em;
    border: 4px solid #f37160;
    color: #f37160;

    &--headline {
        margin: 0;
        padding: 0;
        font-size: 2.5em;
        text-transform: uppercase;
        color: #f37160;

        &__year {
            font-size: 0.6em;
            color: #414042;
        }
    }
}

.back {
    margin: 1.5rem;

    &--button {
        position: relative;
        padding-left: 1.4em;
        font-size: 1.3em;
        text-transform: uppercase;
        cursor: pointer;

        &:before {
            content: "";
            position: absolute;
            left: -0.5em;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 1.8em;
            height: 1.8em;
            display: block;
            background-image: url("/assets/images/arrow_left.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

.headline {
    margin: 2rem 1.5rem 0;
    font-size: 1.5em;
    text-transform: uppercase;
    color: rgb(146, 146, 146);
    
    span {
        display: block;
        font-size: 0.7em;
        text-transform: initial;
        margin-top: 0.4em;
    }
}

.list {
    list-style: none;
    margin: 1rem 0 0 0;
    padding: 0;
    border-top: 1px solid rgb(218, 218, 218);
    font-size: 1.3em;

    &--item {
        border-bottom: 1px solid rgb(218, 218, 218);
        padding: 1rem 1.5rem;
        cursor: pointer;
        position: relative;

        &.choosed:after {
            content: "";
            position: absolute;
            right: 1.5rem;
            top: 0;
            bottom: 0;
            margin: auto;
            display: block;
            width: 1.3em;
            height: 1.3em;
            background-image: url("/assets/images/check.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

.next {
    background-color: rgba(243,113,96,0.80);
    position: absolute;
    left: 1.5rem;
    right: 1.5rem;
    bottom: 1.5rem;

    &--button {
        color: rgb(255, 255, 255);
        padding: 0.8em;
        font-size: 1.5em;
        position: relative;
        cursor: pointer;

        &:after {
            content: "";
            position: absolute;
            right: 0.8em;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 1em;
            height: 1em;
            display: block;
            background-image: url("/assets/images/arrow_right_white.svg");
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}